
<div class="container">
    <div class="row">
         {{>menuAccount}}
        <div class="col-md-9">
            <div class="tituloCliente">
                  <h1> HOLA! {{nombres.nombre}} {{nombres.apellido}} </h1>
            </div>
        </div>
    </div>
</div>








