<div class="container-fluid">
<div class="row" id="titulo">
    <div class="col">
    </div>
    <div class="col-md-3">
        <img class="logo" id="logoSupply" src="/img/pcsupply.png">
    </div>
    <div class="col">
    </div>
</div>
   <div class="row">
   <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="iconoDesplegable">
            <i class="fa-solid fa-bars"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
         <form method="" action="">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/" id="inicio">INICIO</a>
            </li>
         </form> 
         <form method="get" action="">
            <li class="nav-item">
                <a class="nav-link" href="/producto" id="producto">PRODUCTOS</a>
            </li>    
         </form>
         {{#if devolver}}
         <form method="" action="">
            <li class="nav-item">
                <a class="nav-link" href="/login/logout" id="login">CERRAR SESIÓN </a>
            </li>
         </form>
         {{else}}
        <form method="" action="">
            <li class="nav-item">
                <a class="nav-link" href="/login" id="login">INICIAR SESIÓN</a>
            </li>
         </form>
         {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/producto/carrito" id="login">CARRITO</a>
            </li>
      </ul>
    </div>
</nav>
   </div>
</div>    